body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

hr {
  color: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100;
}

.nav_background {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  right: 0;
  background-color: aliceblue;
  position: sticky;
  justify-content: center;
  height: 70px;
  z-index: 999;
}

.nav_main {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  right: 0;
  background-color: aliceblue;
  position: sticky;
  justify-content: space-between;
  height: 70px;
  max-width: 1920px;
  z-index: 999;
  max-width: 1920px;
}

.nav_title {
  grid-row-end: 1;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  right: 0;
  background-color: aliceblue;
  position: sticky;
  margin-left: 200px;
  margin-top: 10px;
}

.nav_title > a {
  margin-top: 10px;
}

.nav_title > div {
  position: absolute;
  top: 30px;
  left: 7px;
  margin-left: 200px;
  margin-top: -12px;
  width: 700;
  size: 18px;
  align-items: center;
  color: #4b5563;
}

.nav_title > div > span {
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.nav_title > div > span:last-child {
  margin-left: 40px;
}

.nav_logo {
  margin-left: 200px;
  margin-top: 15.02px;
}

.nav_login {
  margin-top: 14px;
  margin-right: 200px;
}

.nav_button {
  width: 88px;
  height: 42px;
  background-color: #3692ff;
  color: aliceblue;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
}

.home_background {
  background-color: #cfe5ff;

  /* top: 0;
  display: flex;

  justify-content: center;
  width: 100%;
  height: 540px;
  margin: 0 auto; */
}

.home_main {
  height: 540px;
  display: flex;
  justify-content: center;
  max-width: 1920px;

  /* margin-left: 200px; */

  /* background-color: #cfe5ff;
  top: 0;
  display: flex;
  width: 100%;
  flex-shrink: 0;
  white-space: nowrap;
  justify-content: center;
  max-width: 1920px; */
}

.home_title {
  margin-top: 170px;
  text-align: left;
  color: #374151;
  margin-bottom: 170px;
}

.home_title > p {
  font-size: 40px;
  font-weight: 700;
}

.home_title_button {
  width: 357px;
  height: 56px;
  color: #cfe5ff;
  background-color: #3692ff;
  color: aliceblue;
  border: none;
  border-radius: 40px;
  margin-top: 32px;
  cursor: pointer;
}

.home_title_button > p {
  font-size: 20px;
  font-weight: 600;
}

.home_imag {
  display: flex;
  justify-content: center;
}

.home_imag > img {
  width: 997px;
  height: 447px;
  height: auto;
  object-fit: cover;
  align-self: flex-end;
  margin-left: -16px;
  width: 100%;

  /* align-self: flex-end;
  background-size: cover;
  overflow: hidden; */

  /* display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 996px;
  height: 540px;
  width: 100%;
  overflow: hidden;
  width: auto;
  display: flex;
  height: auto;
  right: 100px;
  margin-top: 93px;
  margin-bottom: -5px;
  overflow: hidden; */
}

.main_info {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 2838px;
  border: 1px solid #cfe5ff;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  max-width: 1920px;
}

.background_info_first {
  width: 100%;
  height: 720px;
  background-color: #ffffff;
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: -1;
  /* display: flex;
  margin-top: 138px;
  justify-content: center;
  margin-bottom: 276px;
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 250px; */
}

.background_info_second {
  width: 100%;
  height: 1578px;
  background-color: #ffffff;
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

/* .background_info_third {
  width: 100%;
  height: 720px;
  background-color: #ffffff;
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.background_info_space {
  width: 100%;
  height: 138px;
  background-color: #ffffff;
  display: flex;
  margin: 0 auto;
  z-index: -1;
  position: relative;
} */

.background_info_last {
  width: 100%;
  height: 540px;
  background-color: #cfe5ff;
  display: flex;
  margin: 0 auto;
}

.info_last_imag {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 996px;
  height: 540px;
  width: 100%;
  overflow: hidden;
}

.info_last_imag > img {
  z-index: 999;
  align-self: flex-end;
  padding-left: 385px;
  background-size: cover;
  overflow: hidden;

  /* width: auto;
  height: auto;
  overflow: hidden;
  position: absolute;
  z-index: 700; */
}

.info_first {
  display: flex;
  margin-top: 138px;
  margin-bottom: 138px;
  justify-content: left;
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 250px;
  max-width: 1920px;
}

.info_first .info_list {
  display: flex;
  margin: 0 auto;
}

.info_first .info_list > img {
  width: 588px;
  height: 444px;
}

.info_first .info_list > div {
  margin-top: 106px;
  margin-left: 64px;
  text-align: left;
}

.info_first .info_list .service-title {
  color: #3692ff;
  font-size: 18px;
  font-weight: 700;
}

.info_first .info_list .home-main-title {
  margin-top: 12px;
  color: #374151;
  font-size: 40px;
  font-weight: 700;
}

.info_first .info_list .service-desc {
  margin-top: 24px;
  color: #374151;
  font-size: 24px;
  font-weight: 500;
}

.info_second_background {
  display: flex;
  margin-top: 138px;
  justify-content: center;
  margin-bottom: 138px;
  flex-shrink: 0;
  white-space: nowrap;
  margin-left: 250px;
}

.info_second {
  display: flex;
  margin-top: 138px;
  justify-content: right;
  margin-bottom: 138px;
  flex-shrink: 0;
  white-space: nowrap;
  margin-left: 250px;
  max-width: 1920px;
}

.info_second .info_list {
  display: flex;
  margin: 0 auto;
}

.info_second .info_list > img {
  width: 588px;
  height: 444px;
  order: 2;
}

.info_second .info_list > div {
  margin-top: 106px;
  margin-right: 64px;
  text-align: right;
}

.info_second .info_list .service-title {
  color: #3692ff;
  font-size: 18px;
  font-weight: 700;
}

.info_second .info_list .home-main-title {
  margin-top: 12px;
  color: #374151;
  font-size: 40px;
  font-weight: 700;
}

.info_second .info_list .service-desc {
  margin-top: 24px;
  color: #374151;
  font-size: 24px;
  font-weight: 500;
}

.info_third_background {
  display: flex;
  margin-top: 138px;
  justify-content: center;
  margin-bottom: 276px;
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 250px;
}

.info_third {
  display: flex;
  margin-top: 138px;
  justify-content: left;
  margin-bottom: 138px;
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 250px;
  max-width: 1920px;
}

.info_third .info_list {
  display: flex;
  margin: 0 auto;
}

.info_third .info_list > img {
  width: 588px;
  height: 444px;
}

.info_third .info_list > div {
  margin-top: 106px;
  margin-left: 64px;
  text-align: left;
}

.info_third .info_list .service-title {
  color: #3692ff;
  font-size: 18px;
  font-weight: 700;
}

.info_third .info_list .home-main-title {
  margin-top: 12px;
  color: #374151;
  font-size: 40px;
  font-weight: 700;
}

.info_third .info_list .service-desc {
  margin-top: 24px;
  color: #374151;
  font-size: 24px;
  font-weight: 500;
}

.info_space {
  margin-bottom: 138px;
}

/* .info_last_background {
  background-color: #cfe5ff;
  height: 540px;
  justify-content: center;
  display: flex;
} */

.info_last {
  background-color: #cfe5ff;
  height: 540px;
  max-width: 1920px;
  display: flex;

  flex-shrink: 0;
  width: 100%;
  flex-shrink: 0;
  white-space: nowrap;
}

.info_last_list {
  display: flex;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  justify-content: left;
}

.last_title {
  margin-top: 214px;
  color: #374151;
  font-size: 40px;
  font-weight: 700;
}

.last_imag {
  overflow: hidden;
}

.last_imag > img {
  width: auto;
  height: auto;
}

.light_theme_background {
  color: #e5e7eb;
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  white-space: nowrap;
  box-sizing: border-box;
  justify-content: center;
}

.theme_list {
  display: flex;
  justify-content: space-between;
}
.light-theme {
  color: #e5e7eb;
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-shrink: 0;
  white-space: nowrap;
  box-sizing: border-box;
  max-width: 1920px;
  margin-right: 200px;
  margin-left: 200px;
  right: 0;
  left: 0;
  max-width: 1920px;
}

.theme-first {
  margin-top: 32px;
  grid-row-end: 1;
  width: 100%;
}

.theme-link > a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  margin-left: 30px;
  cursor: pointer;
}

.theme-icon > a > img {
  margin-left: 15px;
}
